header {
  background-color: aquamarine;
  font: 400 70px/1.3 'Lobster Two', Helvetica, sans-serif;
  color: #2b2b2b;
  text-shadow: 1px 1px 0px #ededed, 4px 4px 0px rgba(0,0,0,0.15);

}
header a:link {
  text-decoration: none;
}
header img {
  max-width: 64px;
}

table {
  border-collapse: collapse;
  border : 1px solid gray;
}
td {
  padding: 10px;
  border : 1px solid gray;
  vertical-align: top;
}
.price, .quantity {
  text-align: right;
}

img.product-tile {
  max-width: 64px;
}

.error{
  color: red;
}

button{
  border-radius: 45px;
  margin: 10px 20px;
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 3px;
  font-weight: 600;
  color: #524f4e;
  background: white;
  box-shadow: 0 8px 15px  rgba(0, 0, 0, .1);
  transition: .3s;
}

button:hover{
  background: #2EE59D;
  box-shadow: 0 15px 20px rgba(46, 229, 157, .4);
  color: white;
  transform: translateY(-3px);
  transition: .2s;
}

.success{
  color: forestgreen;
}

.required{
  color: red;
}

/* Page specific styles */
body.product-list {

}